<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Etechflow_Faq::faq" title="FAQs" sortOrder="100">
                    <resource id="Etechflow_Faq::category" title="Categories" sortOrder="10"/>
                    <resource id="Etechflow_Faq::item"     title="Questions"   sortOrder="20"/>
                    <resource id="Etechflow_Faq::pending"  title="Pending Submissions" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
